[1mAbout Station[0m

[1m$gettext("Hardware")[0m $station.hardware
[1m$gettext("Latitude")[0m $station.latitude[0]° $station.latitude[1]'$station.latitude[2]
[1m$gettext("Longitude")[0m $station.longitude[0]° $station.longitude[1]'$station.longitude[2]
[1m$pgettext("Geographical", "Altitude")[0m $station.altitude
[1m$gettext("Server uptime")[0m $station.os_uptime
[1m$gettext("WeeWX uptime")[0m $station.uptime
[1m$gettext("WeeWX version")[0m $station.version
[1m$gettext("Skin")[0m $SKIN_NAME $SKIN_VERSION
