#set $observations_stats = $to_list($DisplayOptions.get('observations_stats', ['outTemp', 'windSpeed', 'rain']))
#set $obs_type_sum = $to_list($DisplayOptions.get('obs_type_sum', ['rain']))
#set $obs_type_max = $to_list($DisplayOptions.get('obs_type_max', ['rainRate']))
## use this span to determine whether there are any data to consider.
#set $recent=$span($day_delta=30, boundary='midnight')
[1mYearly Statistics[0m

#for $x in $observations_stats
#if getattr($recent, $x).has_data
#if $x == 'windSpeed'
[1m$gettext("Max Wind")[0m
$year.wind.max
$year.wind.gustdir
[1m$gettext("Average Wind")[0m $year.wind.avg
[1m$gettext("RMS Wind")[0m $year.wind.rms
[1m$gettext("Vector Average")[0m $year.wind.vecavg
[1m$gettext("Vector Direction")[0m $year.wind.vecdir
#elif $x in $obs_type_sum
[1m$obs.label[$x][0m $getVar('year.' + $x).sum
#elif $x in $obs_type_max
#if $x == 'UV'
#if $year.UV.max.raw <= 2.4
[1m$obs.label.UV[0m [42m$year.UV.max[0m
#else if $year.UV.max.raw >= 2.5 and $year.UV.max.raw <= 5.4
[1m$obs.label.UV[0m [43m$year.UV.max[0m
#else if $year.UV.max.raw >= 5.5 and $year.UV.max.raw <= 7.4
[1m$obs.label.UV[0m [101m$year.UV.max[0m
#else if $year.UV.max.raw >= 7.5 and $year.UV.max.raw <= 10.4
[1m$obs.label.UV[0m [41m$year.UV.max[0m
#else if $year.UV.max.raw > 10.5
[1m$obs.label.UV[0m [45m$year.UV.max[0m
#end if
#else
[1m$obs.label[$x][0m $getVar('year.' + $x).max
#end if
#else
[1m$obs.label[$x][0m [31mMax[0m $getVar('year.' + $x).max [34mMin[0m $getVar('year.' + $x).min
#end if
#end if
#end for
